*{
    margin:0;
    padding:0;
}

body{
    background: url(b.jpg) no-repeat center center fixed;
    background-size: cover;
    
    

}

.container{ 
    color: white;
    position: absolute;
    top: 25%;
    left: 40%; 
}

.container h1{
    font-family: 'Heebo', sans-serif;    
    width: 50%;
    display:inline-block;
    font-size: 40px;    
    margin-bottom: 15px;
    padding: 13px 0;
    border-bottom: 4px solid rgb(141, 9, 9);
}

.box{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid rgb(141, 9, 9);
    
}

.box input{
    background: none;
    width:75%;
    margin: 2px 0px;
    padding:1px 10px;
    font-size: 20px;
    border:none;
    outline:none;
    color:beige;
}

.btn{
    color: white;
    cursor: pointer;
    outline: none; 
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 11px;
    background:rgb(50, 9, 102);
    font-weight: bold;
    
}

.box i{ 
    width: 25px; 
    float: left;
    text-align: center;
}



.btn:hover{
    opacity: 0.5;
    color: purple; 
    background:white;
    
}